*
  box-sizing: border-box

html 
  font-family: Menlo, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif 

body
  margin: 0
  background-color: #f5f5f5
  overflow-y: scroll

a
  color: inherit

#root
  display: flex
  justify-content: center
  color: #555

.rightbar,.leftbar,.bar-inside
  width: 20%
  max-width: 22rem
  min-width: 16rem
  height: 100vh
.leftbar
  z-index: 10
  position relative
.banner,.bar-inside
  position: fixed
  top: 0
  padding: 2rem
  background: linear-gradient(to bottom,#f2f2f2,#f5f5f5 2rem)

article
  word-break: break-word
  position: relative
  transition: height 0.3s
  overflow: hidden
  header 
    font-size: xx-large
    font-weight: bold
  p
    line-height: 1.7
    // text-indent: 2rem
  pre
    text-overflow: clip;
    white-space: pre-wrap;
    background: #55555512
    padding: 0.5rem 0
    line-height: 1.5
  blockquote
    padding: 0.4rem 0
    position relative
    color: #666
    &:before
      content: ''
      background: linear-gradient(to right, #dbdbdb, #6680990d 0.6rem,#6680990d)
      left: -2rem
      top: 0
      width: 110%
      height 100%
      position: absolute
  code
    background: #ece8e8
    color: #25171a
    padding: 0 0.2rem
  .thick-line
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.1rem;
  .thin-line
    border-width: 0.05rem;
    border-style: solid;
    border-radius: 0.05rem;
  li
    line-height: 1.7
  pre,code
    font-family: Consolas,Courier,monospace

.link, .plain-link
  display: inline-block
  color: inherit
  cursor: pointer
  text-decoration: none
  transition: 0.1s transform
  &:hover
    opacity: 0.7
.link
  border-bottom: 0.05rem solid

.input-box
  font-family: inherit
  padding: 0.3rem 0.6rem
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075)
  border: 1px solid #d1d5da
  border-radius: 0.2rem
  background: #f5f5f5
  
.warning
  outline: 1px red
  border: none
  box-shadow: 0 0 1px 1px red
.helper
  font-size: small
  margin-top: 0.2rem
  color: red

@media (max-width: 414px)
  html 
    font-size 66%

@media (max-width: 1200px)
  #root
    display block
  .leftbar,.banner
    min-height: 3.5rem
    max-height: 6rem
    max-width: 100%
    width: 100%
  .banner
    padding: 0 8rem 0 4rem
    overflow: hidden
    transition: height 1s ease-in-out
    display: flex
    align-items: center
    align-items: center
    justify-content: space-between
  .leftbar-extra
    display: none
  .bar-inside
    top: 3.5rem
@media (max-width: 960px)
  .rightbar
    display: none


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9nqwt9');
  src:  url('fonts/icomoon.eot?9nqwt9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9nqwt9') format('truetype'),
    url('fonts/icomoon.woff?9nqwt9') format('woff'),
    url('fonts/icomoon.svg?9nqwt9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before
  content: "\eab0";

.icon-search:before 
    content: "\e986";

