.leno-message-warning,
.leno-message-error,
.leno-message-info
  position: fixed
  border: 1px solid
  background-color: #fff
  border-radius: 0.2rem
  bottom: 1rem
  right: -15rem
  width: 15rem
  transition: right 0.5s

.leno-message-warning
  //background-color: #faad1417
  border-color: #faad14
  box-shadow 1px 1px 1px #faad14

.leno-message-error
  //background-color: #f5222d0a
  border-color: #f5222d
  box-shadow 1px 1px 1px #f5222d

.leno-message-info
  //background-color: #52c41a08
  border-color: #52c41a
  box-shadow 1px 1px 1px #52c41a
