*
  box-sizing: border-box

html 
  font-family: Menlo, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif

body
  margin: 0

#root
  display: flex
  background-color: #f5f5f5

.banner 
  color: #555
  background-color: inherit 

.sidebar
  width: 27%
  max-width 22rem
  min-width 16rem
  transition margin-top 0.8s cubic-bezier(0,.5,.7,1.36)
  padding 0 2rem

.topbar
  position: fixed
  top: 0
  min-height: 4rem
  max-height: 10rem
  padding: 1rem 2rem
  width: 100vw 
  overflow: hidden
  transition: height 0.4s

.contents
  padding: 0
  flex: 1
  color: #555
  header 
    font-size: xx-large
    font-weight: bold
  p
    line-height: 1.7
    text-indent: 2rem
  pre
    text-overflow: clip;
    white-space: pre-wrap;
  blockquote
    padding: 0.4rem 0
    position relative
    color: #666
    &:before
      content: ''
      background: linear-gradient(to right, #dbdbdb, #6680990d 0.6rem,#6680990d)
      left: -2rem
      top: 0
      width: 110%
      height 100%
      position: absolute


@media (max-width: 414px)
  html 
    font-size 66%

@media (max-width: 960px)
  #root
    display block

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9nqwt9');
  src:  url('fonts/icomoon.eot?9nqwt9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9nqwt9') format('truetype'),
    url('fonts/icomoon.woff?9nqwt9') format('woff'),
    url('fonts/icomoon.svg?9nqwt9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\eab0";
}
.icon-search:before {
  content: "\e986";
}
