*
  box-sizing: border-box

html 
  font-family: Menlo, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif

body
  background: #e9f2f9
  margin: 0

@media (max-width: 960px)
  .banner
    .menu
      float: right 
    
    

.banner
  background: #0a89cc
  color: #ffffff
  padding: 2rem
  .menu
    padding: 0
    margin: auto
    text-align: center
    li
      display: inline-block
      margin: 1rem


.sidebar
  position: fixed
  height: 100vh
  width: 27%
  max-width 22rem
  float left

.topbar
  min-height: 6rem
  width: 100vw 
  overflow: hidden

.contents
  padding: 5%
  article 
    background: #ffffff
    margin-bottom: 6%
  header 
    font-size: xx-large
    font-weight: bold
  p
    line-height: 1.7
    text-indent: 2rem