*
  box-sizing: border-box

html 
  font-family: Menlo, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif

body
  background: #e9f2f9
  margin: 0

    
#root
  display: flex


.banner
  background: #0a89cc
  color: #ffffff
  padding: 2rem
  .menu
    padding: 0
    margin: auto
    text-align: center
    font-size smaller
    li
      display: inline-block
      margin: 0.5rem

.sidebar
  width: 27%
  max-width 22rem
  min-width 16rem
  transition 0.8s margin-top cubic-bezier(0,.5,.7,1.36)
  padding 300vh 2rem
  // float left
  // position: fixed

.topbar
  position: fixed
  min-height: 6rem
  width: 100vw 
  overflow: hidden
  // transition height 0.4s

.contents
  padding: 5%
  article 
    background: #ffffff
    margin-bottom: 6%
    word-break: break-word;
  header 
    font-size: xx-large
    font-weight: bold
  p
    line-height: 1.7
    text-indent: 2rem
  pre
    text-overflow: clip;
    white-space: pre-wrap;

@media (max-width: 414px)
  html 
    font-size 66%

    
@media (max-width: 960px)
  #root
    display block
  .banner
    .menu
      float: right 