.leno-message
  position: fixed
  border: 1px solid #faad14
  border-radius: 0.2rem
  bottom: -5rem
  right: 1rem
  width: 15rem
  height: 5rem
  background: y
  transition: transform 1s
.leno-message-transform
  transform: translateY(-6rem)
